.App {
  background-color: rgba(0, 139, 198, 0.65);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #394955;
  font-size: clamp(3rem, 5vw, 4.5rem);
}
@media screen and (max-width: 768px) {
  .App {
    background-color: rgba(0, 139, 198, 0.25)
  }
}